<?xml version="1.0"?>
<connectionStrings>
  <add name="RoosterContext"
    connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;
                       database=YourDatabaseName;
                       AttachDBFilename=|DataDirectory|aspnetdb.mdf;
                       User Instance=true"
    providerName="System.Data.SqlClient" />
</connectionStrings>